<IfModule mod_rewrite.c>
	RewriteEngine On
	ErrorDocument 404 http://localhost/proyecto_poo/error/
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(.*)/(.*) index.php?controllers=$1&action=$2
</Ifmodule>